<!DOCTYPE html>
	<head>
		<title>
			Contact
		</title>
		<link rel="stylesheet" href="../public/css/style.css">
	</head>

	<body>
		<h1>Contact Bryce</h1>

		<p>
		Fell in love after a portfolio stroll? Yeah, I understand. I love you too. 
		Let's keep this going.
		</p>

		<div>
			<form href="success.html">
				<input name="fullname" type="text" value="fancy name here" />
				<input name="email" type="email" value="fancy email here" placeholder="email" />
				<label>
					<button type="submit">Submit</button>
				</label>
			</form>
		</div>

			
	</body>