body{
  height:100% !important;
  width:100% !important; 
}

.container {
  height: 200% !important; 
  width: 100% !important;
}

hr {
  color: #004000;
  border-color: orange;
  background-color: #004000;
}

.bigboy {
  font-size: 50px;
  font-family: 'Josefin Sans', serif;
  font-weight: 400;
  color: #979797;
}

p, ul li {
  font-size:20px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
}

.fa {
  color: #004000;
}

a:hover,
a:visited {
  color: #004000;
}

.bold {
  font-weight: bold;
}

/*MENU*/

.top-bar {
  width: 100%;
  margin-top: 0;
  opacity: .9;
}

nav {
  position: fixed;
}

.top-bar-right .menu {
  position: absolute;
  /*transform: translateY(-50%);  
  top: 50%;*/  
  right: 0;
}

#logo {
  height: 100px;

}

.navlink{
  display: inline;
  margin-top: 22px;
  padding: 20px;
}

.button {
  background-color: #004000;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Josefin Sans', serif;
  font-weight: bold;
}

div.center {
  width: 100%;
  text-align: center;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


.project {
  margin-top: 50px;
  margin-bottom: 50px; 
}

/*about*/
#about {

}

#aboutpic {
  border-radius: 100px;
  max-height: 300px;
}

/*skills*/

#skills{
  /*background-image: url('../../assets/macbook.jpg');*/
  background-attachment: fixed;
  color: black;
}

.skill-list {
  line-height: 4em;
}

.skill-list li {
  vertical-align: middle;

}

.icon {
  font-size: 35px;
  color: orange;
}

/*projects*/



/*experience*/
.bold {
  font-weight: bold;
}

.right {
  float: right;
}

/*contact*/

.contact {

}

.contact-love{
  margin-top: 25px;
}

.contact-icons {
  margin-top: 25px;
  margin-bottom: 25px;
}

/*preventing flash of unstyled content*/

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }


  /*footer*/

/*.footer-section {
  background: aliceblue;
  min-height: 50px;
  position: fixed;
  bottom:0;
  width: 100%;
}

.footer-section p {
  color: black;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}*/