/*35605a-004000-6b818c-d8e4ff-31e981*/

body {
  width: 90%;
  margin-left: 5%;
}

hr {
  color: #004000;
  border-color: #004000;
  background-color: #004000;
}

.bigboy {
  font-size: 32px;
  font-family: 'Josefin Sans', serif;
  font-weight: 400;
  color: #6B818C;
}

p, ul li {
  font-size:20px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
}

.fa {
  color: #004000;
}

div.nav {
  margin: 20px;
}

#logo {
  height: 100px;
}

.button {
  background-color: #004000;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Josefin Sans', serif;
  font-weight: bold;
}

div.center {
  width: 100%;
  text-align: center;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  display: inline;
  padding: 20px;
  color: black;
}

/*intro*/

/*skills*/

.skill::before{
  color: deepskyblue;
  content: ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
}


/*projects*/

.project::before{
  color: deepskyblue;
  content: ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
}

/*experience*/
.bold {
  font-weight: bold;
}

.right {
  float: right;
}


/*contact*/

.contact {

}


.contact::before{
  color: #31E981;
  content: ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
}